
<div class="centerBlock" *ngIf="this.ready===false && this.errorMassage===false">
    <p>Please, wait</p>
  </div>
<div class="centerBlock" *ngIf="this.errorMassage===true">
  <p>{{textErrorMassage}}</p>
  <button class="buttons" (click)="openForm()">Ок</button>
</div>
<div class="centerBlock" *ngIf="this.ready===true">

  <h3>{{mainInfo[0].name}}</h3>
  <div class="centerBlock1" >
<div *ngFor="let itemMainInfo of mainInfo; let i=index">
<div >
  <div>{{dateArr[i]}}</div>
  <img src="http://openweathermap.org/img/wn/{{itemMainInfo.icon}}.png">
  <div *ngFor="let keyOfObj of objectKeys(itemMainInfo) | cutName">
  <p >{{keyOfObj}}: {{itemMainInfo[keyOfObj]}}</p>
  </div>
</div>
</div>
</div>
  <button class="buttons" (click)="openForm()">try again</button>
</div>


